In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import metrics
import numpy as np
import seaborn as sns

In [5]:
from sklearn.cluster import KMeans

In [3]:
Mpg = sns.load_dataset('mpg')

In [4]:
Mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [6]:
#Data Wrangling
#Drop The Strings Column
MpgTrimmed = Mpg.drop(['origin', 'name'], axis=1)
MpgTrimmed.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration  model_year
0  18.0          8         307.0       130.0    3504          12.0          70
1  15.0          8         350.0       165.0    3693          11.5          70
2  18.0          8         318.0       150.0    3436          11.0          70
3  16.0          8         304.0       150.0    3433          12.0          70
4  17.0          8         302.0       140.0    3449          10.5          70

In [7]:
#Drop Missing Values
MpgTrimmed.dropna(inplace=True)

In [8]:
#Convert Floats to Integers
MpgTrimmed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model_year    392 non-null    int64
dtypes: float64(4), int64(3)
memory usage: 24.5 KB

In [9]:
MpgTrimmed.mpg = MpgTrimmed.mpg.astype(int)

In [10]:
MpgTrimmed.displacement = MpgTrimmed.displacement.astype(int)
MpgTrimmed.horsepower = MpgTrimmed.horsepower.astype(int)
MpgTrimmed.acceleration = MpgTrimmed.acceleration.astype(int)

In [11]:
#Perform k-means Clustering
#Testing 2 Clusters
kmeans = KMeans(n_clusters=2)
kmeans.fit(MpgTrimmed)

KMeans(n_clusters=2)

In [12]:
MpgTrimmed['Group'] = kmeans.labels_

In [13]:
MpgTrimmed.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,Group
0,18,8,307,130,3504,12,70,1
1,15,8,350,165,3693,11,70,1
2,18,8,318,150,3436,11,70,1
3,16,8,304,150,3433,12,70,1
4,17,8,302,140,3449,10,70,1

In [14]:
MpgTrimmed.groupby('Group').mean()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
Group,,,,,,,
0,27.889831,4.305085,123.521186,82.593220,2381.381356,15.813559,76.783898
1,16.314103,7.237179,301.653846,137.564103,3879.532051,14.237179,74.762821

In [15]:
kmeans = KMeans(n_clusters=4)
kmeans.fit(MpgTrimmed)

KMeans(n_clusters=4)

In [16]:
MpgTrimmed['Group'] = kmeans.labels_

In [17]:
MpgTrimmed.groupby('Group').mean()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
Group,,,,,,,
0,24.418367,4.704082,154.346939,94.295918,2746.438776,15.326531,77.112245
1,13.898551,8.000000,356.536232,165.130435,4366.594203,12.782609,73.608696
2,30.566176,3.977941,98.125000,72.948529,2107.705882,16.205882,76.625000
3,18.179775,6.640449,259.966292,116.808989,3484.483146,15.337079,75.584270

In [ ]:
#Three clusters are optimal